<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="geo.region" content="usa" />
<meta name="geo.placename" content="United States" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="assets/ico/favicon.ico" />

<title>Service Company</title>

<!-- Bootstrap core CSS -->
<!-- Custom styles for this template -->
<link href="assets/css/bootstrap.css" rel="stylesheet" />

<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css"
	href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css" />
	
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
	
	<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />
</head>

<body>
  <!-- nav bar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span
              class="icon-bar"></span>
          </button>
          <a th:href="@{/}" class="navbar-brand">Kuality Service, LLC</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Services</a></li>
            <li><a href="#" target="_blank">News</a></li>
         </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle"
              data-toggle="dropdown"> <span
                class="glyphicon glyphicon-user"></span> <strong>Welcome, <span th:text="${systemUser.firstName}"></span></strong>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="navbar-login">
                    <div class="row">
                      <div class="col-lg-4">
                        <p class="text-center"> <!-- profile picture location -->
                          <span class="glyphicon glyphicon-user icon-size"></span>
                        </p>
                      </div>
                      <div class="col-lg-8">
                        <p class="text-left">
                          <strong th:text="${systemUser.firstName+ ' ' +systemUser.lastName}"></strong>
                        </p>
                        <p class="text-left small" th:text="${systemUser.email}"></p>
                        <p class="text-left">
                          <a th:href="@{/profile}" class="btn btn-primary btn-block btn-sm">View Profile</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li>
                  <div class="navbar-login navbar-login-session">
                    <div class="row">
                      <div class="col-lg-12">
                        <p>
                          <a th:href="@{/logout}" class="btn btn-danger btn-block">Log Out</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- nav bar -->





	<section layout:fragment="mainpage"></section>


	<!-- Bootstrap and JavaScript
    ================================================== -->

<script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
      
      <script type="text/javascript" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>	
        <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
      
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    	
    
		
<script type="text/javascript">
 $(document).ready(function () {
                $('#datetimepicker1').datetimepicker();
            });
</script>

	
<script type="text/javascript" language="javascript" class="init">
		$(document).ready(function() {
			$('#myTable').dataTable({
				'iDisplayLength' : 10, //Set Row Per Page
				"bFilter" : true, //Remove Search
				"bPaginate" : true, //Remove Pagination
				"bInfo" : true, //Remove Page Info
				"bLengthChange" : true, //Show per Page Dropdown Remove
				"columnDefs" : [ {
					"targets" : 0,
					"orderable" : false
				} ], //Remove Colum Orderable(Here Col 0 Remove)
				//"aoColumns": [{ "asSorting": [] },{ "asSorting": [ "asc" ] },{ "asSorting": [ "desc", "asc" ] },{ "asSorting": [ "desc" ] },null],//Set Colum Order By ASC Or DSC
				"sPaginationType" : "full_numbers" //Full Pagination
			});
		});
</script>
</body>
</html>

